<div class="user-details">
  <br/>
  <p>
    🪂If you fell here by parachute or rocket and you have no idea who I am,
    well... Let me introduce you...🚀
  </p>
  <h1>Who Am I?</h1>
  <p>{{site.user_description}}</p>
</div>
<div>
  <h2>Ok... A little more about me 👇</h2>

  <h4>
    First of all, I apologize for the possible English errors. I'm not fluent
    and I believe I'm not close to that. For this reason, I used the translator
    in many sentences to complete my writing..
    and... sorry for the big text
  </h4>

  <img align="right" width="200" src="https://i.imgur.com/ExVRyYu.jpg" />

  <p>
    Alright. I'm Luiz Eduardo, a Software Engineering student at PUCRS College
    (you can read more about it by clicking here). I live in the city of Porto
    Alegre, the capital of the state of Rio Grande do Sul, in Brazil. Yes, I'm
    brazilian! At the time of writing this, I'n 20 years old and I'm in the 4th
    semester of college. And... here on the right, it's me!
  </p>

  <p>
    I'm passionate about programming, technology, minimalism and, mainly, UX
    Design! Since I was little I played with Photoshop creating incredible
    images (or I thought they were incredible). I'm addicted to learning about
    technology, my whole childhood was based on staying at the computer learning
    well.. how to edit videos, edit images, photograph, create music, create
    websites, learn how to create a game, how to make videos, how to have a page
    of success on Facebook (everyone already had this dream, right? Isn't it!?
    😳)
  </p>

  <p>
    Ok.. Nowadays I'm currently work at DaVInt, a scientific initiation
    laboratory. I'm learning a lot there, and I hope to learn even more!
  </p>

  <p>
    My current interests in programming are in the creative area. I like to
    create interfaces, think about UX, UI, create functions that satisfy users'
    wishes, create a project that includes community participation. Well.. in a
    nutshell, I don't like to be focused only on the Backend. I'm #teamFront,
    although I'm training to be Fullstack 🤣. My current desire for programming
    is to have full capacity to develop my personal projects from scratch,
    without any help! Or almost that ... As a child, I created entire projects
    for personal applications, but all of this in Photoshop. That's where my
    interest in programming came from! I started to realize that I could create
    my own projects knowing how to program, I would stop idealizing my ideas
    only in Design and go to practice, to development!
  </p>

  <p>
    Nowadays I have a photography Instagram account (follow-me!
    <a href="https://www.instagram.com/whoareluiz/">@whoareluiz</a>), I have a
    great passion for this area and I intend to continue it for a long time! One
    day I intend to live outside Brazil, my current goal is to live in San
    Francisco, California to specifically work in Silicon Valley, a dream of
    every developer, right?! Hahahaha In addition, I intend to create a YouTube
    channel about photography, where I would post videos that I think are
    beautiful <a href="https://youtu.be/qJg3ci4Eluw">(like this one)</a>. I
    would also like to have a programming channel! My inspiration is
    <a href="https://www.youtube.com/channel/UCU5JicSrEM5A63jkJ2QvGYw"
      >Filipe Deschamps</a
    >,
    <a href="https://www.youtube.com/channel/UC70YG2WHVxlOJRng4v-CIFQ"
      >Gabriel Pato</a
    >,
    <a href="https://www.youtube.com/channel/UCf_kacKyoRRUP0nM3obzFbg"
      >Universo Progamando</a
    >,
    <a href="https://www.youtube.com/user/LimaoAzeddo">Guru da Ciência</a>
    and much more!
  </p>

  <p>
    Something that is not relevant but I'm proud.. In the first semester of
    college, when I met new friends, I created a server on Discord to interact
    and play games together. The server was created just for that, but, with the
    current situation (covid-19, online classes and other stuff) the server
    ended up being redesigned to be the server of the software engineering
    course at my college. Nowadays the server has more than 130 members,
    including professors, course coordinators, students and even people who work
    in the area of Software Engineering.
  </p>

  <p>
    👉Currently, the server isn't available for any user to enter. But, in time,
    maybe I will open up that possibility! When that happens, I'll let you know
    on this page, so if you're interested, stay tuned! Down here you can see how
    many members are online.
  </p>

  <img
    align="center"
    alt="Discord"
    src="https://img.shields.io/discord/558087780018683916?label=Online%20members"
  />

  <p>
    I think I already talked a lot about me, if you want to know more, add me on
    social networks, or just follow me on GitHub! Hahahahah #IFB (Just Kidding)
  </p>

  <p>
    My social media
  </p>
  <ul>
    <li><a href="https://www.facebook.com/luizdudumr/">Facebook</a></li>
    <li>
      <a href="https://www.instagram.com/luizdudu/">Personal Instagram</a>
    </li>
    <li>
      <a href="https://www.instagram.com/whoareluiz/">Photography Instagram</a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/luiz-eduardo-mello-dos-reis-86422a188//"
        >LinkedIn</a
      >
    </li>
  </ul>

  <p>
    Okay, now I'm going to show you my main projects (which, at the time of
    writing this, are not many, because I'm still learning!)
  </p>

  <p>🛠 Correction: This section is under maintenance 🛠</p>
  <h2 align="center">That's it for now!</h2>

  <!-- </div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>

--></div>
